
  <footer class=" ft bg-dark text-white py-5 ">
    <div class="container">
      <div class="row g-4">
        <div class="col-md-3">
          <h5 class="fw-bold">cyber</h5>
          <p class="small text-muted">We are a specialist interior design firm located in Portland, our boutique studio offers more than design.</p>
        </div>
        <div class="col-md-3">
          <h6 class="fw-bold">Services</h6>
          <ul class="list-unstyled small">
            <li>Bonus program</li>
            <li>Gift cards</li>
            <li>Credit and payment</li>
            <li>Repair services</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h6 class="fw-bold">Assistance</h6>
          <ul class="list-unstyled small">
            <li>Find an order</li>
            <li>Delivery terms</li>
            <li>Return policy</li>
            <li>Warranty</li>
          </ul>
        </div>
        <div class="col-md-3 text-center text-md-start">
          <h6 class="fw-bold mb-3">Follow Us</h6>
          <div class="d-flex gap-3 justify-content-center justify-content-md-start">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
          </div>
        </div>
      </div>
    </div>
  </footer>