<footer class="footer bg-dark text-light py-5">
  <div class="container">
    <div class="row">
      <!-- Logo + About -->
      <div class="col-md-4 mb-4">
        <h4 class="fw-bold">cyber</h4>
        <p class="small text-light">
          We are here to provide what you need, with the goal of making your experience enjoyable and satisfying
        </p>
        <div class="footer-icon d-flex gap-3 mt-3 ">
          <a href="#" class="text-light"><i class="bi bi-twitter fs-5"></i></a>
          <a href="#" class="text-light"><i class="bi bi-facebook fs-5"></i></a>
          <a href="#" class="text-light"><i class="bi bi-tiktok fs-5"></i></a>
          <a href="#" class="text-light"><i class="bi bi-instagram fs-5"></i></a>
        </div>
      </div>

      <!-- Services -->
      <div class="col-md-4 mb-4">
        <h6 class="fw-bold text-white">Services</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light text-decoration-none">Bonus program</a></li><br>
          <li><a href="#" class="text-light text-decoration-none">Gift cards</a></li><br>
          <li><a href="#" class="text-light text-decoration-none">Credit and payment</a></li><br>
          <li><a href="#" class="text-light text-decoration-none">Service contracts</a></li><br>
          <li><a href="#" class="text-light text-decoration-none">Non-cash account</a></li><br>
          <li><a href="#" class="text-light text-decoration-none">Payment</a></li><br>
        </ul>
      </div>

      <!-- Assistance -->
      <div class="col-md-4 mb-4">
        <h6 class="fw-bold text-white">Assistance</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light text-decor">Find an Order</a></li><br>
          <li><a href="#" class="text-light text-decor">Terms of delivery</a></li><br>
          <li><a href="#" class="text-light text-decor">Exchange and return of goods</a></li><br>
          <li><a href="#" class="text-light text-decor">Guarantee</a></li><br>
          <li><a href="#" class="text-light text-decor">Frequently asked questions</a></li><br>
          <li><a href="#" class="text-light text-decor">Terms of use of the site</a></li><br>
