.wishlist-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.wishlist-card:hover {
  transform: translateY(-5px);
  
}

.delete-btn {
  color: #000;
  border: none;
  
  transition: all 0.25s ease;
}

.delete-btn:hover {
  color: #dc3545;
  transform: scale(1.1);
}

h2 {
  color: #333;
}
