<div class="container-fluid home-page p-0">
 
  <section class="hero d-flex flex-column flex-md-row align-items-center bg-dark justify-content-between text-white px-4 px-md-5" style=" height: 90%;">
    <div class="hero-content col-md-6 px-5">
      <h5 class="fw-bold text-uppercase text-secondary">Pro.Beyond.</h5>
      <h1 class="display-3 fw-bold mb-3">iPhone 14 <span class="text-primary">Pro</span></h1>
      <p class="lead mb-4">Created to change everything for the better. For everyone.</p>
      <a routerLink="/products" class="btn btn-shop btn-outline-light mt-3">Shop Now</a>
    </div>
    <div class="hero-img" style="width: 450px; height: 100vh;flex-shrink: 0; margin-right: 40px;"></div>
  </section>

   
<section class="featured  container-fluid px-0" >
  <div class="row g-0 align-items-stretch">

    
    <div class="col-lg-6 d-flex flex-column">
      <div class="d-flex flex-column flex-lg-row align-items-center justify-content-between bg-white  h-100 border-0 overflow-hidden position-relative">
        <div class="image-wrapper">
          <img src="/sec21.png" class="img-fluid ps5-img" alt="PlayStation 5">
        </div>

        <div class="text-start content p-4 flex-fill ms-lg-4">
          <h2 class="fw-bold">PlayStation 5</h2>
          <p class="text-muted mb-0">
            Incredibly powerful CPUs, GPUs, and an SSD with integrated I/O will redefine your PlayStation experience.
          </p>
        </div>
    </div>
 
    <div class="row g-0 flex-grow-1">
  
      <div class="col-md-6 bg-gray text-dark d-flex flex-column justify-content-center align-items-start border-0 overflow-hidden position-relative">
        <div class="image-wrapper-left">
          <img src="/sec22.png" class="img-fluid sec22 mb-3" alt="AirPods Max">
        </div>
        <div class="px-3">
          <h4>Apple AirPods <span class="fw-bold">Max</span></h4>
        <p class="text-muted small mb-0">Computational audio. Listen, it's powerful.</p>
        </div>
      </div>

   
      <div class="col-md-6 bg-dark text-white d-flex flex-column justify-content-center align-items-start border-0 overflow-hidden position-relative">
        <div class="image-wrapper-right-box">
          <img src="/sec23.png" class="img-fluid sec23 mb-3" alt="Vision Pro">
        </div>
        <div class=" px-3">
          <h4>Apple Vision <span class="fw-bold">Pro</span></h4>
        <p class="text-gray small mb-0">An immersive way to experience entertainment.</p>
        </div>
    
      </div>
    </div>
  </div>

    <div class="col-lg-6 bg-light d-flex align-items-center justify-content-between border-0 overflow-hidden position-relative">
      <div class="text-start z-2 ps-5" style="max-width: 50%;">
        <h2 class="fw-bold">Macbook <span class="text-dark">Air</span></h2>
        <p class="text-muted mb-3">
          The new 15-inch MacBook Air makes room for more of what you love with a spacious Liquid Retina display.
        </p>
        <button class="btn btn-shop btn-outline-dark" style="border:1.5px solid black;">Shop Now</button>
      </div>

      <div class="image-wrapper-right">
        <img src="/sec24.png" class="img-fluid sec24" alt="Macbook Air">
      </div>
    </div>


  </div>
</section>


   
<section class="categories text-center py-5 my-5 bg-light">
  <h3 class="fw-bold mb-5 text-uppercase text-dark">Browse by Category</h3>
  
  <div class="container">
    <div class="row justify-content-center g-4">
      @for (cat of categories; track cat.category_id) {
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
          <div 
            class="category-card shadow-sm border-0 rounded-4 p-3 h-100 d-flex flex-column align-items-center justify-content-center hover-effect"
            (click)="filterByCategory(cat.category_id)"
            style="cursor: pointer;"
          >
            <div class=" mb-3">
              <i [class]="cat.icon + ' fs-1 text-dark'"></i>
            </div>
            <span class="fw-semibold text-dark">{{ cat.category_name }}</span>
          </div>
        </div>
      }
    </div>
  </div>
</section>


  
  <section class="new-arrivals container my-5 ">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h4 class="fw-bold">New Arrival</h4>
      <div class="d-flex align-items-center gap-2" routerLink="/products" style="cursor: pointer;">
        <a  class="text-decoration-none fw-bold text-dark">View All </a>
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"  viewBox="0 0 32 32" fill="none" >
<path d="M10.6667 4.33333C10.9322 4.33208 11.1869 4.43782 11.3734 4.62667L22.0401 15.2933C22.43 15.6838 22.43 16.3162 22.0401 16.7067L11.3734 27.3733C10.9794 27.7405 10.3654 27.7296 9.98457 27.3488C9.60375 26.968 9.59292 26.354 9.96007 25.96L19.9201 16L9.96007 6.04C9.57013 5.64958 9.57013 5.01709 9.96007 4.62667C10.1466 4.43782 10.4013 4.33208 10.6667 4.33333Z" fill="black"/>
</svg>
      </div>
      
     
    </div>
    <div class="row g-4">
      @for (product of products | slice:0:8; track product.id) {
        <div class="col-6 col-md-4 col-lg-3">
          <div class="card h-100 border-0 shadow-sm position-relative product-card">
            <img [src]="product.image_url" class="card-img-top img-fluid" [alt]="product.name" style="height:220px;object-fit:contain;">
            <div class="card-body text-center">
              <h6 class="card-title">{{product.name}}</h6>
              <p class="fw-bold">${{product.price}}</p>
              <a [routerLink]="['/product', product.id]" class="btn btn-dark  w-100 py-2" >Buy Now</a>
            </div>
          </div>
        </div>
      }
    </div>
  </section>



 
  <section class="discounts container my-5">
    <h4 class="fw-bold mb-4">Discounts up to -50%</h4>
    <div class="row g-4">
      @for (product of products | slice:10:14; track product.id) {
        <div class="col-6 col-md-4 col-lg-3">
          <div class="card h-100 border-0 shadow-sm position-relative product-card">
            <img [src]="product.image_url" class="card-img-top img-fluid" [alt]="product.name" style="height:220px;object-fit:contain;">
            <div class="card-body text-center">
              <h6 class="card-title">{{product.name}}</h6>
              <p class="fw-bold">${{product.price}}</p>
              <a [routerLink]="['/product', product.id]" class="btn btn-dark   w-100 py-2">Buy Now</a>
            </div>
          </div>
        </div>
      }
    </div>
  </section>

  
  <section class="summer-sale text-center text-white py-5 mt-5" style="background: url('/Banner2.png') no-repeat center center/cover; height: 350px;">
    <h2 class="fw-bold my-3 ">Big Summer Sale</h2>
    <p class="mb-4">Come and save with the hottest offers of the season!</p>
    <a routerLink="/products" class="btn btn-shop btn-outline-light mt-3">Shop Now</a>
  </section>



</div>
